.Quiz-root {
  position: relative;
  max-width: 1060px;
  min-height: 100vh;
  background-image: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

@media only screen and (min-width: 1060px) {
  .Quiz-root {
    min-height: 534px;
    height: 534px;
    margin: 100px auto 0;
  }
}
